<div class="container mt-4">
  <h2>New User</h2>

  <%= form_with(model: @user) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :surname %>
      <%= f.text_field :surname, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :patronymic %>
      <%= f.text_field :patronymic, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :age %>
      <%= f.number_field :age, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :nationality %>
      <%= f.text_field :nationality, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :country %>
      <%= f.text_field :country, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :gender %>
      <%= f.select :gender, ['male', 'female'], {}, class: 'form-control' %>
    </div>

    <div class="form-group">
      <h4>Interests</h4>
      <div class="checkbox-group">
        <%= f.collection_check_boxes :interest_ids, @interests, :id, :name do |b| %>
          <div class="form-check">
            <%= b.check_box(class: 'form-check-input') %>
            <%= b.label(class: 'form-check-label') %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <h4>Skills</h4>
      <div class="checkbox-group">
        <%= f.collection_check_boxes :skill_ids, @skills, :id, :name do |b| %>
          <div class="form-check">
            <%= b.check_box(class: 'form-check-input') %>
            <%= b.label(class: 'form-check-label') %>
          </div>
        <% end %>
      </div>
    </div>

    <%= f.submit 'Create User', class: 'btn btn-primary' %>
  <% end %>
</div>

